@using Budgeter.Models
@model Transaction
@{

}
<div class="col-md-4 col-xs-12">
    <div class="panel panel-default" id="Account-AddTransaction-Wrapper">
        <div class="panel-heading">
            <div class="text-center">
                <h3>Add Transaction</h3>
            </div>
        </div>
        <div class="panel-wrapper collapse in">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addTransactionFormId", action= "javascript:submitAddTransactionForm()" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.HiddenFor(m => m.AccountId)
                    <div class="form-group col-xs-11 center-block">
                        <label class="control-label col-md-4" for="IsExpense">Type</label>
                        <div class="col-md-6">
                            <select class="form-control" id="IsExpense" name="IsExpense" required="required">
                                <option value="true">Expense</option>
                                <option value="false">Income</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.IsExpense, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-11 center-block" id="category-form-group">
                        <label class="control-label col-md-4" for="selector_1">Category</label>
                        <div class="col-md-6">
                            @Html.DropDownList("CategoryId", null, "Select Category", htmlAttributes: new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-11 center-block">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control date-picker", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-11 center-block">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-xs-11 center-block">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-11 center-block">
                        <label class="control-label col-md-4" for="IsReconciled">Processed?</label>
                        <div class="col-md-6">
                            <select class="form-control" id="IsReconciled" name="IsReconciled" required="required">
                                <option value="true">Processed</option>
                                <option value="false">Pending</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.IsReconciled, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-11 center-block">
                        <div class="col-md-offset-7 col-md-4">
                            <input type="submit" value="Create" class="fcbtn btn btn-outline btn-success btn-1d" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<script>
    $(function () {
        /*Manage Account Section*/
        $("#IsExpense").change(function () {
            var value = $(this).val();
            if (value == "false") {
                $("#category-form-group").hide();
                $("#CategoryId").val("18");
            }
            else {
                $("#CategoryId").val("");
                $("#category-form-group").show();
            }
        })

        $(".date-picker").datepicker({ dateformat: "mm/dd/yy" });

    });
    $("#Date").val(new Date().toLocaleDateString());

</script>
